<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Inclass Exercise <br>(Day  - 4)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Import Libraries](#lib)**
2. **[Large Sample Test](#z)**
    - 2.1 - **[Two Sample Z Test](#2z)**
3. **[Small Sample Test](#t)**
    - 3.1 - **[Two Sample t Test (Unpaired)](#2t)**
    - 3.2 - **[Paired t Test](#paired)**
4. **[Chi-Square Test](#chisq)**
5. **[One-way ANOVA](#1way)**

<a id = "lib"> </a>
## 1. Import Libraries

In [2]:
!pip install scikit_posthocs

Collecting scikit_posthocs
  Downloading scikit_posthocs-0.7.0-py3-none-any.whl (38 kB)
Requirement already satisfied: pandas>=0.20.0 in c:\anacondapython\lib\site-packages (from scikit_posthocs) (1.3.4)
Requirement already satisfied: statsmodels in c:\anacondapython\lib\site-packages (from scikit_posthocs) (0.12.2)
Requirement already satisfied: scipy in c:\anacondapython\lib\site-packages (from scikit_posthocs) (1.7.1)
Requirement already satisfied: matplotlib in c:\anacondapython\lib\site-packages (from scikit_posthocs) (3.4.3)
Requirement already satisfied: numpy in c:\anacondapython\lib\site-packages (from scikit_posthocs) (1.20.3)
Requirement already satisfied: seaborn in c:\anacondapython\lib\site-packages (from scikit_posthocs) (0.11.2)
Requirement already satisfied: pytz>=2017.3 in c:\anacondapython\lib\site-packages (from pandas>=0.20.0->scikit_posthocs) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anacondapython\lib\site-packages (from pandas>=0.20.0->scikit_posthocs) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\anacondapython\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.20.0->scikit_posthocs) (1.16.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\anacondapython\lib\site-packages (from matplotlib->scikit_posthocs) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anacondapython\lib\site-packages (from matplotlib->scikit_posthocs) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\anacondapython\lib\site-packages (from matplotlib->scikit_posthocs) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\anacondapython\lib\site-packages (from matplotlib->scikit_posthocs) (8.4.0)
Requirement already satisfied: patsy>=0.5 in c:\anacondapython\lib\site-packages (from statsmodels->scikit_posthocs) (0.5.2)
Installing collected packages: scikit-posthocs
Successfully installed scikit-posthocs-0.7.0

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')
import statsmodels.api as sm
from scipy import stats
import statistics
from scipy.stats import shapiro
from statsmodels.stats import weightstats as stests
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare
import statsmodels.stats.multicomp as mc
# install scikit_posthocs using "!pip install scikit_posthocs" ?
import scikit_posthocs

<a id = "z"> </a>
## 2. Large Sample Test

In [4]:
df=pd.read_csv('electronic.csv')
df

    Screensize (inch)  Price ($)  Weight (g)     Type
0                 6.5        245         252  Phablet
1                 6.3        210         252  Phablet
2                 6.1        224         234  Phablet
3                 6.0        217         212  Phablet
4                 6.4        252         252  Phablet
..                ...        ...         ...      ...
95                8.5        210         462   Tablet
96                8.5        203         462   Tablet
97                9.0        203         473   Tablet
98                8.9        175         430   Tablet
99                8.5        196         451   Tablet

[100 rows x 4 columns]

<a id = "2z"> </a>
## 2.1 Large Two Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [13]:
# type solution here
p_price=df[df['Type']=='Phablet']['Price ($)']
t_price=df[df['Type']=='Tablet']['Price ($)']
#print(p_price)
#print(t_price)

stat_p, p_value_p = stats.shapiro(p_price)
stat_t, p_value_t = stats.shapiro(t_price)
# print the test statistic and corresponding p-value 
print('Test statistic:', stat_p)
print('P-Value:', p_value_p)

print('Test statistic:', stat_t)
print('P-Value:', p_value_t)

Test statistic: 0.9686920642852783
P-Value: 0.20465952157974243
Test statistic: 0.9741330742835999
P-Value: 0.33798879384994507

In [16]:
stat, p_value = stats.levene(p_price,t_price)
stat, p_value

(0.6635459332943239, 0.4172859681296204)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [19]:
# type solution here

stats,p_value=stests.ztest(p_price,t_price)
stats,p_value

(9.282772555558113, 1.6512473234517284e-20)

In [26]:
# to find out 95% of CI
n_1=len(p_price)
p_mean=np.mean(p_price)
p_std=np.std(p_price)

n_2=len(t_price)
t_mean=np.mean(t_price)
t_std=np.std(t_price)
stats.norm.interval(0.95,loc=p_mean-t_mean,scale=np.sqrt(((p_std**2)/n_1)+((t_std**2)/n_2)))

(35.87894938341398, 54.84105061658599)

<a id="t"></a>
## 3. Small Sample Test

<a id="2t"></a>
## 3.1. Two sample T test Unpaired

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [27]:
# type solution here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]
#as data is unpaired so to perform 2 sample t test we perform tests for normality and 
stat_h, p_value = stats.shapiro(harry)
stat_r, p_value = stats.shapiro(ron)

print(stat_h, p_value)
print(stat_r, p_value)

0.9328558444976807 0.9183047413825989
0.972867488861084 0.9183047413825989

In [28]:
stat, p_value = stats.levene(harry,ron)
stat, p_value
# pvalue is >alpha(0.01)

(0.12793271359008374, 0.7267972480247995)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using a critical value method and p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [31]:
# type solution here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]
t_stast,p_val=stats.ttest_ind(a=harry,b=ron)
t_stast,p_val

(-2.8788582527177526, 0.01385995160611642)

In [36]:
stats.norm.isf(q=0.10/2)

1.6448536269514729

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Research suggests that the fat content (in g) in the rice-bran oil of Nutura products is less than that of Markgen products. To test this claim we have recorded the fat content in 6 packs of 100 g oil from both the companies. Consider a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        Nutura_fat = [99.5, 98, 98.6, 98.2, 96.8, 98.4]
        Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

In [3]:
Nutura_fat = [99.5, 98, 98.6, 98.2, 96.8, 98.4]
Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]
fat = [99.5, 92, 98.6, 98.2, 96.8, 98.4, 98.7, 91.8, 92.6, 97.5, 93, 96.1]
stat, p_value = shapiro(fat) 
print('Test statistic:', round(stat,2))
print('P-Value:', round(p_value,2))

Test statistic: 0.85
P-Value: 0.03

In [4]:
test_stat, p_value = stats.ttest_ind(Nutura_fat, Markgen_fat, alternative = 'less')
print('p-value:', round(p_value,3))

p-value: 0.989

<a id='paired'></a>
## 3.2.Two sample paired T-test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>6. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [35]:
# type solution here
df_sugar=pd.read_excel('sugar_level.xlsx')
df_sugar.head(2)

   sugar_before  sugar_after
0           135          132
1           132          136

In [39]:
stats.ttest_rel(df_sugar['sugar_after'],df_sugar['sugar_before'])

Ttest_relResult(statistic=-5.268469999584946, pvalue=2.108941394582287e-05)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The gym trainer claims that the new aerobic exercise has reduced the weight of the customers. The weight in the last month before the aerobic exercise and weight in this month after the aerobic exercise is recorded for 6 people. Test the trainer's claim with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
        wt_after = [82, 71, 64, 65.2, 67.8, 64.7]

In [6]:
wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
wt_after = [82, 71, 64, 65.2, 67.8, 64.7]

stat, p_value = shapiro(wt_before)
 
print('Test statistic:', round(stat,3))
print('P-Value for Weights Before:', round(p_value,3))

Test statistic: 0.915
P-Value for Weights Before: 0.47

In [7]:
stat, p_value = shapiro(wt_after)
print('Test statistic:', round(stat,3))
print('P-Value for Weights Before:', round(p_value,2))

Test statistic: 0.793
P-Value for Weights Before: 0.05

In [8]:
test_stat, p_value = stats.ttest_rel(wt_before,wt_after, alternative = 'greater')
print('p-value:', round(p_value,3))

p-value: 0.017

<a id = "chisq"> </a>
## 4. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 6.

please use below dataset

In [9]:
#read the sample data 
df_emp = pd.read_csv('Employee_Attrition.csv')

#display the first two observations
df_emp.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [78]:
df_emp.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [41]:
# type solution here
df_emp['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [44]:
ob_val=[961,446,63]
exp_per=[0.55,0.35,0.10]
exp_val=np.array(exp_per)*len(df_emp)
exp_val

array([808.5, 514.5, 147. ])

In [45]:
stats,p_value=chisquare(f_obs=ob_val,f_exp=exp_val)
stats,p_value

(85.88470712960503, 2.2406437256053955e-19)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [48]:
# type solution here
df_emp['JobSatisfaction'].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [60]:
ob_val=[459,442,280,289]
exp_per=[0.32,0.30,0.18,0.2]
exp_val=np.array(exp_per)*len(df_emp)
exp_val

array([470.4, 441. , 264.6, 294. ])

In [61]:
stats,p_value=chisquare(f_obs=ob_val,f_exp=exp_val)
stats,p_value

(1.2598733938019708, 0.7386828586247451)

In [64]:
stats.chi2.isf(q=0.1,df=3)

6.2513886311703235

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [66]:
# type solution here
table=pd.crosstab(df_emp['BusinessTravel'],df_emp['JobRole'])
table

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
BusinessTravel,,,,,,,,,
Non-Travel,15,4,28,12,13,6,28,39,5
Travel_Frequently,26,10,51,13,29,12,54,59,23
Travel_Rarely,90,38,180,77,103,62,210,228,55

In [68]:
obs_val=table.values
obs_val

array([[ 15,   4,  28,  12,  13,   6,  28,  39,   5],
       [ 26,  10,  51,  13,  29,  12,  54,  59,  23],
       [ 90,  38, 180,  77, 103,  62, 210, 228,  55]], dtype=int64)

In [72]:
test_stat, p, dof, expected_value=chi2_contingency(observed=obs_val,correction=False)

In [73]:
print(p)

0.7448263418408124

In [ ]:
#p value> alpha

In [ ]:
# we failed to reject

In [76]:
df_emp.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'DistanceFromHome', 'Education',
       'EducationField', 'EmployeeCount', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type solution here
table = pd.crosstab(df_emp['Attrition'], df_emp['MaritalStatus'])  
observed_value = table.values
observed_value

array([[294, 589, 350],
       [ 33,  84, 120]], dtype=int64)

In [11]:
chi2_val = stats.chi2.isf(q = 0.05, df = 2)

print('Critical value for chi-square test:', chi2_val)

Critical value for chi-square test: 5.991464547107983

In [12]:
test_stat, p, dof, expected_value = chi2_contingency(observed = observed_value, correction = False)

print("Test statistic:", test_stat)

Test statistic: 46.163676540848705

<a id = "1way"> </a>
## 5. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 7 to 11.

Please use below dataset

In [4]:
#read the sample data 
df_emp = pd.read_csv('sales_emp.csv')

#display the first two observations
df_emp.head(2)

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# type solution here
test=ols('MonthlyIncome ~ Q("EducationField")',df_emp).fit()
anova=anova_lm(test,typ=1)
anova

                       df        sum_sq       mean_sq         F    PR(>F)
Q("EducationField")   4.0  4.087768e+07  1.021942e+07  0.954603  0.440787
Residual             49.0  5.245652e+08  1.070541e+07       NaN       NaN

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
# type solution here
stat, p_value = stats.shapiro(df_emp['DailyRate'])
print('p-value:', round(p_value,3))

p-value: 0.04

In [17]:
df_emp['BusinessTravel'].unique()

array(['Travel_Rarely', 'Non-Travel', 'Travel_Frequently'], dtype=object)

In [19]:
stat, p_value = stats.levene(df_emp[df_emp['BusinessTravel'] == 'Travel_Rarely']['DailyRate'],
                             df_emp[df_emp['BusinessTravel'] == 'Travel_Frequently']['DailyRate'],
                             df_emp[df_emp['BusinessTravel'] == 'Non-Travel']['DailyRate'])

print('P-Value:', round(p_value,3))

P-Value: 0.231

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
test_stat, p_val = stats.f_oneway(df_emp[df_emp['BusinessTravel'] == 'Travel_Rarely']['DailyRate'],
                                  df_emp[df_emp['BusinessTravel'] == 'Travel_Frequently']['DailyRate'],
                                  df_emp[df_emp['BusinessTravel'] == 'Non-Travel']['DailyRate'])

print('p-value:', p_val)

p-value: 4.527131533131016e-06

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
df_emp['BusinessTravel'].value_counts()

Travel_Rarely        18
Non-Travel           18
Travel_Frequently    18
Name: BusinessTravel, dtype: int64

In [22]:
comp = mc.MultiComparison(data = df_emp['DailyRate'], groups = df_emp['BusinessTravel']) 
post_hoc = comp.tukeyhsd(alpha = 0.01)
post_hoc.summary()